/* General font styling */
p, li {
    font-size: 20px;
    font-weight: 520;
    line-height: 1.5;
}

/* Both of the titles*/
.titles{
    text-align: center;
    letter-spacing: 3.5px;
    line-height: 1.5;
}

h1 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 40px; 
    line-height: 1.5;  
}

h2 {
    color: #006EB6;
    border-bottom: lightgray 1px solid;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.5;
}


body {
    margin: 0 auto;
    max-width: fit-content;
    display: block;
}

/* Adds a margin to the outside border */
.content {
    padding-left: 135px;
    padding-right: 135px;
    border: rgba(0, 0, 0, 0.224) 1px solid;
    height: 100%;
    margin: 35px;
}

/* Elements inside content */
.content *{
    max-width: 600px;
}

/* List items */
li {
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
}

/* Footer image */
footer img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
}


/* Dark theme styling */
body.dark {
    background-color: #333;
    color: white;
}

body.dark h2 {
    color: #4db8ff
}
