:root {
    --primary-color: #473144; /* Dark color from assignment page */
    --secondary-color: #AF1B3F; /* Red color from assignment page */
    --accent-color: #EFC69B; /* Gold color from assignment page */
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: Lora, Impact, Serif;
}


/* Styling for the header */
header {
    text-align: center;
}

main {
    width: 95%;
}

/* Global styling */
body {
    font-family: var(--primary-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

h1 {
    color: var(--primary-color);
    padding: 1rem;
}

/* Styling for the main nav bar */
nav {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: 1rem;
}

.main-nav {
    display: grid;
    grid-template-columns: 7rem 7rem 7rem;
    list-style-type: none;
    justify-content: end;
    gap: 0.5rem;
    padding: 0.2rem;
}

.main-nav li a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
}

/* Styling for the main site content */ 
#site-content {
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding: 0;
}


/* Styling for the books */
.book {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.book-content p {
    color: var(--primary-color);
    margin: 2rem auto;
    align-content: center;
}

.book-content img {
    display: block;
    margin: 0 auto;
}


.book-title{
    color: var(--secondary-color);
    margin-top: 0.5rem;
}

.book-details {
    color: var(--primary-color);
    text-align: right;
    border-right: 2px solid var(--accent-color);
    padding-right: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

}

.book-details p {
    line-height: 1.2;
    margin: 0.5rem;
}

.book-date {
    font-size: 1.3rem;
    font-weight: bold;
}

.link-to-read-more {
    font-size: 1.1em;
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none; 
}


/* Accessible 'Skip to Content' link */
.skiptocontent a {
    position: absolute;
    top: -40px; 
    left: 0;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 5px;
    outline: 2px solid var(--secondary-color); 
}

/* Move it back on when focused */
.skiptocontent a:focus {
    top: 0;
}


/* Styling for the filters */
.filters {
    width: 100%;
    max-width: 80%;
    border: 2px solid var(--accent-color);
    margin: 1rem auto;
    padding: 1rem;
}

.filters p {
    margin: 0;
}